# Ender 3 V1 – Creality 4.2.2 – Klipper config
[mcu]
serial: /dev/serial/by-id/usb-Klipper-stm32f103...  # Replace with your actual serial
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1000
max_z_velocity: 5
max_z_accel: 100

########################################
# Stepper Motors
########################################

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_min: 0
position_max: 235

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_min: 0
position_max: 235

[stepper_z]
step_pin: PB0
dir_pin: !PB1
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: ^PC2
position_endstop: 0.0
position_min: 0
position_max: 250

[stepper_e]
step_pin: PA5
dir_pin: !PA4
enable_pin: !PA6
microsteps: 16
rotation_distance: 33.5  # Tweak this for accurate extrusion
nozzle_diameter: 0.4
filament_diameter: 1.75

########################################
# Heaters and Thermistors
########################################

[heater_bed]
heater_pin: PA1
sensor_pin: PC4
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 120

[heater_hotend]
heater_pin: PA2
sensor_pin: PC5
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

########################################
# Fans
########################################

[fan]
pin: PC6  # Part cooling fan (front)

[heater_fan hotend_fan]
pin: PC7  # Hotend heatsink fan (runs when hotend is hot)

########################################
# Bed Mesh (Manual Leveling)
########################################

[bed_screws]
screw1: 50, 50
screw2: 235, 50
screw3: 117, 235

[bed_mesh]
samples: 3
sample_retract_dist: 5.0
min_point: 15,15
max_point: 220,220
probe_count: 3,3
fade_start: 1.0
fade_end: 10.0
fade_target: 0.0
mesh_pps: 2,2

########################################
# Misc
########################################

[display]
lcd_type: uc1701
cs_pin: PA3
a0_pin: PA7
encoder_pins: PB3, PB4
click_pin: !PB5
kill_pin: !PC13

[output_pin beeper]
pin: PC8

[static_digital_output power_supply]
pin: PA0

[gcode_macro G29]
gcode:
    BED_MESH_CALIBRATE

[virtual_sdcard]
path: ~/gcode_files

[board_pins]
aliases:
    # For macro convenience
    EXP1_1=PB5, EXP1_2=PB4, EXP1_3=PB3, EXP1_4=PA15, EXP1_5=PA14
    EXP1_6=PA13, EXP1_7=PA10, EXP1_8=PA9, EXP1_9=PA8, EXP1_10=PB15

[pause_resume]

########################################
# Save Config (after PID tuning, etc.)
########################################

[save_config]